html,
body {
  height: 100%;
  width: 100%;
  font-family: verdana;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  z-index: 1;
}
svg {
  text-align: center;
  font-family: verdana;
  font-weight: 700;
}
